KHUFUS_ENV=local  # or 'prod'

# Supabase
VITE_SUPABASE_URL=
VITE_SUPABASE_ANON_KEY=
SUPABASE_SERVICE_ROLE_KEY=
SUPABASE_DB_URL=

# Home Assistant
HA_ACCESS_TOKEN=

# MQTT
MQTT_USERNAME=
MQTT_PASSWORD=
